<?xml version="1.0" encoding="UTF-8"?>  
<configuration scanPeriod="2 seconds" debug="false">  
  <!-- 控制台输出 -->    
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{5} - %msg%n</pattern>    
    </encoder>    
  </appender>    
  
	<!-- 日志输出级别 -->  
  <root level="ERROR">
  </root>
  
  <logger name="com.lxx" level="INFO">
    <appender-ref ref="STDOUT" />    
  </logger>
     
</configuration>  